@{
    ViewData["Title"] = "Home Page";
}
@model FundableMvc.Models.FundingViewModel


<p>Project and trending tables</p>

<<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Funds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                   
                </td>
            </tr>
        }
    </tbody>
</table>